@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-family: "Rubik", "Helvetica Neue", Cantarell, Oxygen-Sans,-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  --color-transition-time: 0.4s;
}
* {
  margin-top: 0;
  box-sizing: border-box;
  --mobile-max-width: 500px;
}
body.light {
  --primary-color: #000000;
  --primary-text-color: #fff;
  --featured-bg: #cfcfcf;
  --featured-text: #fff;
  --secondary-color: #888888;
  --background: #fff;
  --site-header: var(--background);
  --card-bg: #fff;
  --card-bdr: #eee;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #272727;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
  --theme-toggle-border-radius: 50%;
  img {
    box-shadow: 0px 0px 33px -7px rgba(58, 58, 58, 0.2)  }
}
body.dark {
  --primary-color: #ffffff;
  --primary-text-color: rgb(255, 255, 255);
  --featured-bg: #ffffff;
  --featured-text: rgb(75, 20, 20);
  --secondary-color: #727272;
  --background: rgb(0, 0, 0);
  --text-color: rgb(255, 255, 255);
  --text-secondary-color: rgb(255, 255, 255);
  --site-header: var(--background);
  --card-bg: #363636;
  --card-bdr: #000000;
  --card-shadow: #46464686;
  --btn-bg: var(--background);
  --btn-bdr: #000000;
  --btn-text-color: #000000;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #000000;
  --contact-bg: var(--card-shadow);
  --contact-bdr: var(--card-bg);
  --input-bg: var(--card-bg);
  --theme-toggle-border-radius: 10%;
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: $font-family;
  background-color: var(--background);
  color: var(--text-color);
  transition-property: background-color, color;
  transition-duration: var(--color-transition-time);
  // animation: fadeIn ease 3s;
  // @keyframes fadeIn {
  //   0% { opacity: 0; }
  //   100% { opacity: 1 }
  // }
}
a {
  color: var(--primary-color);
  text-decoration: underline;
  transition: color var(--color-transition-time);
  &:hover {
    text-decoration: underline;
  }
}
.site-wrapper {
  padding: 40px 0;
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
::-webkit-scrollbar {
  display: none;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 66%;
  a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 12px 0;
    &[aria-current] {
      color: var(--primary-color);
    }
    &:hover {
      color: var(--primary-color);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.nav-links {
  visibility: hidden;
}
.site-header {
  display: flex;
  justify-content: normal;
  padding: 20px 0;
  padding-top: 0;
  // background: var(--site-header);
  // transition: background var(--color-transition-time);
  margin-bottom: 48px;
  height: 60px;
  font-size: 1.5rem;
  align-items: center;
}
.site-title {
  width: 32%;
  a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 400;
    text-transform: lowercase;
  }
}
.hero-header {
  padding: 0 0 64px;
  max-width: 980px;
}
.headline {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.button {
  padding: 18px 27px;
  display: inline-block;
  background: var(--btn-bg);
  border: 1px solid var(--btn-bdr);
  border-radius: 9px;
  text-decoration: none;
  color: var(--btn-text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;
  &.-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-text-color);
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }
  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text-color);
  }
}
.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  font-weight: 300;
}
.post {
  padding: 0;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }
  
}
.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: var(--featured-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
  }
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}
.card {
  display: grid;
  background-color: var(--card-bg);
  border-radius: 9px;
  border: 1px solid var(--card-bdr);
  box-shadow: 0 0 30px var(--card-shadow);
  overflow: hidden;
  line-height: 1.5;
  &:hover .post-link {
    color: var(--primary-color);
  }
  > a img {
    display: block;
  }
  > header {
    padding: 24px;
  }
  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }
  .post-title {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  .post-meta {
    font-weight: 100;
    margin-bottom: 0;
  }
  .post-link {
    color: var(--text-color);
    text-decoration: none;
  }
}
.post-meta {
  font-size: 0.8rem; 
  color: var(--text-secondary-color);
}
.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #666;
  line-height: 0.4rem;
  font-size: 0.8rem;
  margin-top: 130px;
  // a {
  //   font-weight: 700;
  // }
  div {
    margin: 1rem 0;
  }
}
.form-container {
  background-color: var(--contact-bg);
  padding: 32px;
  border: 1px solid var(--contact-bdr);
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid var(--card-shadow);
    color: var(--text-secondary-color);
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
    font-family: $font-family;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen 
and (min-width: 768px) {
.grids {
  grid-template-columns: 1fr 1fr;
}
}
@media only screen 
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}

.fullview {
  min-height: calc(100vh - 35px);
  margin-bottom: 100px;
}


// theme-changer
.theme-changer {
  display: none;
}
body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.theme-toggle {
    box-sizing: border-box;
    width: 21px;
    height: 21px;
    cursor: pointer;
    background: none;
    border: 4px solid var(--secondary-color);
    border-radius: var(--theme-toggle-border-radius);
    transition: border-radius 0.5s, border-color var(--color-transition-time);
    &:hover {
      transition: border-color var(--color-transition-time), border-radius 0.5s;
      border-color: var(--primary-color);
    }
}

.sublayout {
  width: 100%;
  display: grid;
  gap: 1rem 3rem;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas:
    "options-box"
    "left-content"
    "right-content";
  font-size: 1.6rem;
  .left {
    grid-area: left-content;
  }
  .right {
    grid-area: right-content;
  }
  // * { animation: fadeIn linear var(--color-transition-time); }
}

@media (min-width: 500px) {
  .sublayout {
    grid-template-columns: 57% 1fr;
    grid-template-areas: 
      "options-box options-box"
      "left-content right-content"; 
  }
  .site-footer {
    flex-direction: row;
  }
  .site-footer {
    div {
      width: 32%;
      margin: 0;
      margin-right: 2%;
    }
  }
}

.theme-label {
  display: none;
  z-index: 103;
  margin-right: 1rem;
}
.hamburger-label {
  display: inherit;
  width: 23px;
  height: 19px;
  z-index: 105;
}

@media (min-width: 650px) {
  .nav-links {
    visibility: visible;
  }
  .theme-label {
    display: inherit;
  }
}

.options-box {
  display: flex;
  flex-direction: column;
  grid-area: options-box;
  margin: 0px 0;
  h1 {
    font-weight: 500;
    font-size: 3.5rem;
    margin-left: -2px;
    margin-bottom: 1.7rem;
  }
  ul {
    padding-left: 0;
    display: flex;
    list-style: none;
  }
  li {
    margin-right: 3rem;
    font-size: 1.3rem;
  }
}

.sublayout-option {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
  transition: color var(--color-transition-time);
  &:hover {
    transition: color var(--color-transition-time);
    color: var(--primary-color);
  }
  &:last-child {
    margin-right: 0;
  }
}

.sublayout-option-active {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  transition: color var(--color-transition-time);
  // &:hover {
  //   transition: color var(--color-transition-time);
  //   color: var(--primary-color);
  // }
  &:last-child {
    margin-right: 0;
  }
}

.bio-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1 }
}
@keyframes fadeOut  {
  0% { opacity: 1; }
  100% { opacity: 0 }
}

.full-menu-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  overflow: hidden;
  // z-index: 100;
  // padding: 0 5%;
  background-color: var(--primary-color);
  transition: opacity 0.2s, background-color var(--color-transition-time);
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  a { 
    color: var(--background);
    margin: 1rem 0;
  }
  .navigation a {
    &[aria-current] {
      color: var(--background);
    }
  }
}

.hidden  {
  display: none;
  opacity: 0;
}

.full-menu-opt {
  margin: 1rem 0;
}