@font-face {
    font-family: "Apple II";
    src: url("./fonts/Apple_II.ttf") format("truetype")
}

* {
    box-sizing: content-box;
}

html {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
    cursor: crosshair;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Apple II";
}

#outlineBox {
    position: absolute;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    width: calc(100vw - 42px);
    height: calc(100vh - 45px);
    overflow: hidden;
}

.title {
    margin: 10px auto;
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.navButtons {
    margin: 0;
    width: 50%;
    height: 100%;
    display: inline-block;
    width: 100%;
}

nav {
    margin: 80px auto;
    padding: 0;
    float: right;
    width: 90px;
    height: 300px;
    vertical-align: top;
    z-index: 100;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    width: 100%;
    text-align: right;
}

header {
    margin: 0;
    width: 100;
}

nav li {
    display: inline-block;
    font-size: 8px;
    width: 100%;;
}

h2,
h4
{
    margin: 0px auto;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    padding: 10px;
}